<h3>User's Page: <%= @user.to_a.flatten.first %></h3>

<div class="asked_questions">
  <ul>Asked Questions:
    <% @user_s_asked_questions.each do |title, infs| %>
      <li><a href="/questions/<%= infs["id"] %>"><%= title %></a></li>
    <% end %>
  </ul>

</div>

<div class="answered_questions">
  <ul>Answered Questions:
    <% @user_s_answered_questions.each do |title, infs| %>
      <li><a href="/questions/<%= infs["id"] %>#answer_<%= find_user_latest_answered_id_for_question(@user.to_a.flatten.last["id"], infs["id"]) %>"><%= title %></a></li>
    <% end %>
  </ul>
</div>
